.masthead {
    height: 70vh;
    min-height: 500px;
    background-image:  linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../images/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
