html {
  scroll-behavior: smooth;
}
body{background-color:#BCCCDC;}
.masthead {
    height: 70vh;
    background-image:  linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../images/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
#services, #team, #gallery, #contact {
  padding: 100px 0;
}

.card {
    margin: 10px 10px;
    border-radius: 5%;
}

.card > * {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

input[type='checkbox'] {
    display: none;
}

/* Flip Cards CSS */
.card-container {
    display: grid;
    perspective: 700px;
}

.staff-img {height: 200px;}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

input[type='checkbox']:checked + .card-container .card-flip {
    transform: rotateY(180deg);
}

.flip-container{
    cursor: pointer;
}

.back {
  background-color: #647ACB;
}

.nav-item .nav-link:hover {
  background: #102A43;
}
